@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
/* .active {
  @apply bg-gray-100;
} */

.rainbow-bg {
  background: linear-gradient(135deg,
    #bdfef5,
    #a0c4ff,
    #bdb2ff, 
    #ffc6ff
  );
  border: 2px solid white;
}

.svg-white {
  filter: brightness(0) invert(1);
}
